<% if (listing.amenities.length > 0) { %>
         <hr class="hr-line">
        <!-- <div class="col-8 offset-3"> -->
            <h4 class="ami-heading">What this place offers</h4>
            <div class="row">
            <% let shown = 0; %>
            <% for (let category in amenities) {
                const categoryAmenities = amenities[category];
                if (categoryAmenities.length > 0 && shown < 2) { shown++; %>
                <div class="col-md-6 mb-4">
                    <div class="ami-category">
                    <h5 class="category-heading"><%= category %></h5>
                    <ul>
                        <% for (let amenity of categoryAmenities) { %>
                        <li>
                            <div class="ami">
                            <img src="/images/<%= amenity %>.png" alt="<%= amenity %>">
                            <span><%= amenity %></span>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                    </div>
                </div>
            <% } } %>
            </div>

            <a class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#amenitiesModal">
            View More
            </a>
        

        <div class="modal fade" id="amenitiesModal" tabindex="-1" aria-labelledby="amenitiesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="amenitiesModalLabel">All Amenities</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="amenity-columns">
                    <% for (let category in amenities) {
                    const categoryAmenities = amenities[category];
                    if (categoryAmenities.length > 0) { %>
                        <div class="ami-category">
                        <h6 class="category-heading"><%= category %></h6>
                        <ul>
                            <% for (let amenity of categoryAmenities) { %>
                            <li>
                                <div class="ami">
                                <img src="/images/<%= amenity %>.png" alt="<%= amenity %>">
                                <span><%= amenity %></span>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                        </div>
                    <% } } %>
                </div>
                </div>
            </div>
            </div>
        </div>
        <% } %>